## Assignement-2 Pallavi kumari

# Ques 1. Write a Python program to remove duplicates from a list.

In [1]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
     
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

# Ques 2. Write a Python program to combine two dictionary adding values for common keys.

In [2]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
dict2 = {'a': 300, 'b': 200, 'd': 400}

for i in dict2 :
    if i in dict1 :
        dict1[ i ] = dict1[ i ] +dict2[ i ]
    else :
        dict1[ i ] = dict2[ i ]
print(dict1)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# Ques 3.Write a Python program to convert a tuple to a string.

In [3]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

# Ques 4.Write a Python program to remove item(s) from set.

In [4]:
a={'dell','hp','lenevo','apple','asus','aser','msi'}

In [5]:
a.pop()

'hp'

In [6]:
a

{'apple', 'aser', 'asus', 'dell', 'lenevo', 'msi'}

In [7]:
a.remove('dell') #remove

In [8]:
a

{'apple', 'aser', 'asus', 'lenevo', 'msi'}

# Ques 5. Write a Python program to create a symmetric difference

In [9]:
setA={1,2,3,4,5,6}
setB={7,8,2,9,6,0}
print('Original SetA',setA)
print('Original SetA',setB)
print('Symetric diff setA - setB',setA-setB)
print('Symetric diff setB - setA',setB-setA)

Original SetA {1, 2, 3, 4, 5, 6}
Original SetA {0, 2, 6, 7, 8, 9}
Symetric diff setA - setB {1, 3, 4, 5}
Symetric diff setB - setA {0, 8, 9, 7}

# Ques 6.Write a Python program to construct the following pattern, using a nested for loop.

In [10]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

Ques 7. Write a Python program to get the Fibonacci series between 0 to 50

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Ques 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [11]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34